@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

*::-webkit-scrollbar {
  @apply w-3 h-3 rounded-lg bg-gray-50;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-300;
}
